#container {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.child {
    /* width: 200px; */
    height: 200px;
    
}

#child1 {
    background-color: red;
    flex: 1;
}
#child2 {
    background-color: green;
}
#child3 {
    background-color: purple;
}