<div class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="400px" >
    <mat-card-title fxLayoutAlign="center">Heavy Lifing</mat-card-title>
    <mat-card-subtitle fxLayoutAlign="center">Dog Breed</mat-card-subtitle>
    <mat-card-content fxLayoutAlign="center">
      <mat-form-field>
        <mat-select placeholder="Favorite food">
          <mat-option value="crunches">
            Crunches
          </mat-option>
          <mat-option value="touch-toes">
            Touch Toes
          </mat-option>
          <mat-option value="hardcore">
            Hard Core
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center" fxLayoutGap="20px">
      <button type="submit" mat-raised-button color="primary" (click)="onstartTraining()">Start Training</button>
    </mat-card-actions>
    </mat-card>
</div>
